<!-- Yorumlar-->
<section class="section testimonial-section review">
    <div class="container">
    <div class="row">
    <div class="col-12">
    <div class="section-header text-center aos" data-aos="fade-up">
    <div class="section-line"></div>
    <h2 class="header-title">Yorumlar</h2>
    <p>Freelancerlar Hakkında Bazı Yorumlar</p>
    </div>
    </div>
    </div>
    <div id="testimonial-slider" class="owl-carousel owl-theme testimonial-slider aos" data-aos="fade-up">
    
    <div class="review-blog">
    <div class="review-top d-flex align-items-center">
    <div class="review-img">
    <a href="review.html"><img class="img-fluid" src="assets/img/review/review-01.jpg" alt="Post Image"></a>
    </div>
    <div class="review-info">
    <h3>Davis Payerf</h3>
    <h5>CEO</h5>
    <div class="rating">
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star"></i>
    <span class="average-rating">4.7</span>
    </div>
    </div>
    </div>
    <div class="review-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean.</p>
    </div>
    </div>
    
    
    <div class="review-blog">
    <div class="review-top d-flex align-items-center">
    <div class="review-img">
    <a href="review.html"><img class="img-fluid" src="assets/img/review/review-02.jpg" alt="Post Image"></a>
    </div>
    <div class="review-info">
    <h3>Davis Payerf</h3>
    <h5>PROJECT LEAD</h5>
    <div class="rating">
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star"></i>
    <span class="average-rating">4.8</span>
    </div>
    </div>
    </div>
    <div class="review-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean.</p>
    </div>
    </div>
    
    
    <div class="review-blog">
    <div class="review-top d-flex align-items-center">
    <div class="review-img">
    <a href="review.html"><img class="img-fluid" src="assets/img/review/review-03.jpg" alt="Post Image"></a>
    </div>
    <div class="review-info">
    <h3>Davis Payerf</h3>
    <h5>TEAM LEAD</h5>
    <div class="rating">
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star"></i>
    <span class="average-rating">5.0</span>
    </div>
    </div>
    </div>
    <div class="review-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean.</p>
    </div>
    </div>
    
    
    <div class="review-blog">
    <div class="review-top d-flex align-items-center">
    <div class="review-img">
    <a href="review.html"><img class="img-fluid" src="assets/img/review/review-02.jpg" alt="Post Image"></a>
    </div>
    <div class="review-info">
    <h3>Davis Payerf</h3>
    <h5>PROJECT LEAD</h5>
    <div class="rating">
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star filled"></i>
    <i class="fas fa-star"></i>
    <span class="average-rating">3.2</span>
    </div>
    </div>
    </div>
    <div class="review-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Volutpat orci enim, mattis nibh aliquam dui, nibh faucibus aenean.</p>
    </div>
    </div>
    
    </div>
    </div>
    </section>