<%- 
include('partials/_header');
%>


<!-- Navigator-->
<div class="breadcrumb-bar">
<div class="container">
<div class="row align-items-center inner-banner">
<div class="col-md-12 col-12 text-center">
<h2 class="breadcrumb-title">ProJob Hakkında</h2>
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
<li class="breadcrumb-item active" aria-current="page"> Hakkımzda</li>
</ol>
</nav>
</div>
</div>
</div>
</div>

<!--Üst Banner-->
<section class="section about">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-6 d-flex align-items-center">
<div class="about-content">
<h2>Kimdir <span class="orange-text">ProJob</span></h2>
<p>Projob alanında uzman freelancerlar ile işverenleri bir araya getiren bir platformdur. Amacımız freelancerların projelere daha rahat ulaşabilmesi
    ve işverenlerin aradığı alanında uzman freelancerları daha rahat bulabilmesidir. 
</p>
<h4>Nasıl Çalışıyor ProJob ?</h4>
<p>Projob alanında uzman freelancerları işe alarak platformda yayınlanan projelerin en iyi şekilde teslim edilmesini sağlar. İşveren ve freelancer ile 
    iletişimini kesmez ve süreci takip eder. 
</p>
<a href="project.html" class="btn learn-btn">İletişime Geç</a>
</div>
</div>
<div class="offset-lg-1 col-lg-5">
<div class="about-img">
<img class="img-fluid" src="assets/img/about.png" alt="Post Image">
</div>
</div>
</div>
</div>
</section>

<!-- Üst  Banner Altı-->
<section class="section job-counter">
<div class="container">
<div class="row">
<div class="col-md-9">
<div class="counter">
<h2>ProJob </h2>
<h4>Freelancerlar ile iş verenlerin buluşma noktası.</h4>
</div>
</div>

</div>
</div>
</section>


<%- 
include('partials/yorumlar');
%>

<!-- Alt Banner-->
<section class="section agency">
<div class="container-fluid">
<div class="row align-items-center black-bg">
<div class="col-md-6 agency-box">
<img src="assets/img/about-01.jpg" alt="" class="img-fluid">
</div>
<div class="col-md-6 agency-box black-bg">
<div class="agency-content">
<h2>Profesyonel Freelancerların ve birçok projenin adresi: <span class="orange-text">ProJob</span> </h2>
<p>Alanında uzman freelancer kadrosuyla tüm projeleri başarıyla tamamlamaya hazır bir platform.</p>
<a href="project.html" class="btn learn-btn">Freelancerlara Göz At</a>
</div>
</div>
</div>
</div>
</section>



<%- 
include('partials/_footer')
%>