<%- 
include('partials/_header');
%>



<div class="breadcrumb-bar">
<div class="container">
<div class="row align-items-center inner-banner">
<div class="col-md-12 col-12 text-center">
<h2 class="breadcrumb-title">Kategori Ekle</h2>
<nav aria-label="breadcrumb" class="page-breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Anasayfa</a></li>
<li class="breadcrumb-item active" aria-current="page"> Kategori Ekle</li>
</ol>
</nav>
</div>
</div>
</div>
</div>


<div class="content">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="select-project mb-4">

<form action="/categories" method="POST">
<div class="title-box widget-box">

<div class="title-content">
<div class="title-detail">
<h3>Kategori Adı</h3>
<div class="form-group mb-0">
<input name="name" type="text" class="form-control" placeholder=" Kategori giriniz...">
</div>
</div>
</div>


<div class="row">
<div class="col-md-12 text-end">
<div class="btn-item">
<button type="submit" class="btn next-btn">Gönder</button>
</div>
</div>
</div>
</div>

</form>
</div>
</div>
</div>
</div>
</div>


<%- 
include('partials/_footer')
%>