<%- include('partials/_header'); %>


    <br><br>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3">

                    <div class="account-content">
                        <div class="align-items-center justify-content-center">
                            <div class="login-right">
                                <div class="login-header text-center">
                                    <a href="index.html"><img src="assets/img/logo-01.png" alt="logo"
                                            class="img-fluid"></a>
                                    <h3>ProJob' a Katıl</h3>
                                    <p>Profesyonel Çalışmalara Adım At...</p>
                                </div>
                                
                                <% if (flashMessages) { %>
                                    <% if (flashMessages.success) { %>
                                      <div class="alert alert-success">
                                    <%= flashMessages.success %>
                                    </div>
                                  <% } else if (flashMessages.error) { %>
                                   <div class="alert alert-danger">
                                    <%= flashMessages.error %>
                                    </div>
                                    <% } %>
                                  <% } %>     
        
                                <div class="tab-content pt-0">
                                    <div role="tabpanel" id="developer" class="tab-pane fade active show">

                                        <form action="users/signup" method="post" novalidate>
                                            <div class="form-group form-focus">
                                                <input name="name" type="text" class="form-control floating">
                                                <label class="focus-label">Ad Soyad</label>
                                            </div>
                                            <div class="form-group form-focus">
                                                <input name="email" type="email" class="form-control floating">
                                                <label class="focus-label">Email </label>
                                            </div>
                                            <div class="form-group form-focus">
                                                <select class="form-control floating" name="role" id="">
                                                    <option value="">Rol Seçimi Yap</option>
                                                    <option  value="freelancer">Freelancer</option>
                                                    <option value="isveren">İş Veren</option>
                                                </select>
                                            </div>
                                            <div class="form-group form-focus">
                                                <input name="password" type="password" class="form-control floating">
                                                <label class="focus-label">Şifre</label>
                                            </div>
                                            <div class="dont-have">
                                                <label class="custom_check">
                                                    <input name="rem_password">
                                                    <span></span> ProJob <a href="privacy-policy.html">kullanıcı
                                                        sözleşmesini</a> ve <a href="privacy-policy.html">gizlilik
                                                        politikasını</a>
                                                    kabul ediyorum.
                                                </label>
                                            </div>
                                            <button class="btn btn-primary btn-block btn-lg login-btn"
                                                type="submit">Bize Katıl</button>
                                            <div class="row">
                                                <div class="col-6 text-start">
                                                    <a class="forgot-link" href="forgot-password.html">Şifremi Unuttum
                                                        ?</a>
                                                </div>
                                                <div class="col-6 text-end dont-have">Halihazırda üyeyim <a
                                                        href="login.html">Giriş Yap</a></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
 





    <%- include('partials/_footer') %>